/*------------------------------------*\
    #BASE
\*------------------------------------*/

body {
    background-color: $color--darkBlue;
    color: $color--white;

    font-family: $primary-font;
    font-weight: $font-weight--reg;

    &.body-stop-scroll {
        overflow: hidden;
      }
}