/*------------------------------------*\
    #ANIMATED-CIRCLES
\*------------------------------------*/

.c-animated-circles {
	&.is-active {
		.c-animated-circles__line-1 {
			animation-name: rotate1;
			stroke: #E8B222;
		}
		.c-animated-circles__line-2 {
			animation-name: rotate2;
			stroke: #E8B222;
		}
		.c-animated-circles__line-3 {
			animation-name: rotate3;
			stroke: #E8B222;
		}
	}
}

.c-animated-circles__line {
	stroke-dashoffset: 0;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: reverse;
	animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    stroke: transparent;
}


.c-animated-circles__line-1 {
	stroke-dasharray: 1150.5;
    animation-delay: 0.1s;
}

@keyframes rotate1 {
	to {
		stroke-dashoffset: 1150.5;
	}
}

.c-animated-circles__line-2 {
	stroke-dasharray: 829.6;
    animation-delay: 0.2s;
}

@keyframes rotate2 {
	to {
		stroke-dashoffset: 829.6;
	}
}


.c-animated-circles__line-3 {
	stroke-dasharray: 1479;
}

@keyframes rotate3 {
	to {
		stroke-dashoffset: 1479;
	}
}