/*------------------------------------*\
    #SIZE
\*------------------------------------*/

//Height

.h-100 {
	height: 100%;
}

//Width
$columns: (
	"1" 8.33%,
	"2" 16.667%,
	"3" 25%,
	"4" 33.33%,
	"5" 41.667%,
	"6" 50%,
	"7" 58.333%,
	"8" 66.667%,
	"9" 75%,
	"10" 83.33%,
	"11" 91.667%,
	"12" 100%
);

@each $col in $columns {
	$name: nth($col, 1);
	$width: nth($col, 2);

	.w-#{$name}-col {
		width: 100%;

		@include bp(medium) {
			width: $width;
		}
	}
}
