/*------------------------------------*\
    Wrappers
\*------------------------------------*/

.content-wrapper {
    padding: {
        left: $space-xs;
        right: $space-xs;
    }

	@include bp(medium) {
		padding: {
            left: $space-sm;
            right: $space-sm;
        }
	}

    @include bp(large) {
		padding: {
            left: $space-lg;
            right: $space-lg;
        }
	}
}

    .content-inner {
        padding: {
            left: 4px;
            right: 4px;
        }

        @include bp(medium) {
            padding: {
                left: 10px;
                right: 10px;
            }
        }
    }