/*------------------------------------*\
    #CARD
\*------------------------------------*/

.c-card {
	position: relative;
	display: block;
	background-color: black;
    height: 100%;

    padding: 17px;

    cursor: pointer;

    @include bp(medium) {
        padding: 24px 19px 30px;
    }

    &:hover {
        .c-card__subtitle {
            color: $color--white;
        }
    }
}

.c-card__tag {
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: 1;
    overflow: hidden;

    @include bp(medium) {
        top: 25px;
    }
}

.c-card__image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

.c-card__gradient {
    position: absolute;
    top: -1px;
    left: -1px;

    height: calc(100% + 2px);
    width: calc(100% + 2px);;

    background-image: url(../../../assets/card-gradient.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
}

.c-card__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 100%;

    z-index: 1;
}

.c-card__date {
    padding-bottom: 10px;
}

.c-card__title {
    position: relative;
    padding-bottom: 10px;
    @include t-sm();

    @include bp(medium) {
        padding-bottom: 20px;
    }
}

.c-card__subtitle {
    padding-bottom: 30px;
    color: $color--offwhite;

    transition: $transition;

    @include bp(medium){
        padding-bottom: 70px;
    }
}