/*------------------------------------*\
    #COLOR
\*------------------------------------*/

$color--white: #ffffff;
$color--black: #000000;
$color--gold: #E8B222;
$color--darkBlue: #132237;
$color--lightBlue: #3C76B6;
$color--richBlack: #0C1623;
$color--midBlue: #2E5C8E;
$color--silver: #D0D0D0;
$color--green: #1EBC7A;
$color--offwhite: #9DA2A7;
$color--orange: #D38325;