/*------------------------------------*\
    SPACING
\*------------------------------------*/

//Spacing
$space-xxs: 10px;
$space-xs: 20px;
$space-sm: 50px;
$space-md: 60px;
$space-lg: 100px;
$space-xl: 120px;
$space-xxl: 140px;
$space-xxxl: 170px;
$space-xxxxl: 190px;
$space-xxxxxl: 260px;


//Padding
$col-pd-wrapper-small: $space-xs;
$col-pd-wrapper: $space-sm ;
$col-pd-wrapper-large: $space-lg;


$col-pd-inner: 10px;
$col-pd-inner-small: 4px;