/*------------------------------------*\
    SPACING
\*------------------------------------*/

//Padding
$col-pd-wrapper: 0 0.8rem;
$col-pd-inner: 0 0.8rem;

$col-pd-wrapper-small: 0 0.4rem;
$col-pd-inner-small: 0 0.4rem;

//Spacing
$space-xxs: 10px;
$space-xs: 20px;
$space-sm: 50px;
$space-md: 60px;
$space-lg: 100px;
$space-xl: 120px;
$space-xxl: 140px;
$space-xxxl: 170px;
$space-xxxxl: 190px;
$space-xxxxxl: 260px;
