/*------------------------------------*\
   #UI - Variables used for interface elements
\*------------------------------------*/

//Button
$ui-button-height: 60px;
$ui-button-width: 190px;

$ui-button-square-size: 60px;

//Header
$ui-header-height-mobile: 90px;
$ui-header-height: 160px;