/*------------------------------------*\
    #FEATURED-TEXT
\*------------------------------------*/

.c-featured-text {
	position: relative;
	width: 100%;
	padding: $space-sm 0 $space-xl;

	@include bp(medium) {
		padding: $space-md 0 160px;
	}
}

.c-featured-text__subtitle {
	width: 100%;
	margin-bottom: $space-xs;
}

.c-featured-text__copy {
	@include t-lg();
	padding-bottom: 40px;

	@include bp(large) {
		padding-bottom: $space-md;
	}
}

.c-featured-text__circles {
	position: absolute;
	right: 0;
	bottom: -10%;
	z-index: -1;

    width: 160px;
    height: 160px;

	@include bp(medium) {
		width: 300px;
		height: 300px;
	}

    @include bp(large) {
		bottom: -40%;

		width: 420px;
		height: 420px;
	}
}
