/*------------------------------------*\
    #MARQUEE
\*------------------------------------*/

.c-marquee {
    padding: 100px 0 87px;

    @include bp(medium) {
        padding: 70px 0 143px;
    }
}

.c-marquee__marquee-wrapper {
    padding-top: 67px;

    @include bp(medium) {
        padding-top: 65px;
    }
}