/*------------------------------------*\
    #SCROLL-DOWN
\*------------------------------------*/

.c-scroll-down {
    position: relative;

    &:hover {
        .c-scroll-down__circle {
            transform: scale(1.2);
            rect {
                stroke: $color--gold;
            }
        }
    }
}

.c-scroll-down__arrow {
    transition: $transition;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-scroll-down__circle {
    rect {
        transition: $transition;
    }
    transition: $transition;
}